/* =======================
          GENERAL
======================= */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
}

header {
  padding-bottom: 56px;
}

ul, li {
  list-style: none;
  padding-left: 0;
}

small {
  display: block;
}

iframe {
  width: 100%;
  height: 100%;
}

input[type="email"] {
  width: 100%;
}

/* =======================
          Layout
======================= */

.navbar {
  background-color: #3B2C2F !important;
  border-bottom: 2px solid #fff;
}

.navbar a {
  color: #fff !important;;
}

.navbar-toggler {
  border: 1px solid rgba(255, 255, 255, .8) !important;
  outline: none !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, .6)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

#about {
  background: url(https://images.pexels.com/photos/687824/pexels-photo-687824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1280&w=1920) no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 12% 0;
}

#video-div {
  margin-top: 20px;
}

#stats {
  background: url(https://images.pexels.com/photos/1199960/pexels-photo-1199960.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center;
  background-size: cover;
  padding: 15% 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.35rem;
  text-align: center;
}

#stats .col-md-3 {
  margin: 5px 0;
}

#stats h2 {
  margin: 0;
}

#stats small {
  letter-spacing: 1.5px;
}

#menu {
  background: url(https://images.pexels.com/photos/80597/burger-hamburger-onion-tomatoe-80597.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center;
  background-size: cover;
  padding: 12% 0;
  color: #fff;
}

.menu-header {
  margin: 10px 0;
}

#info {
  background-color: #242120;
  padding: 12% 0;
  color: #fff;
}

#info a {
  color: #fff;
  text-decoration: underline;
}

.directions small {
  margin: 15px 0;
}

/* =======================
        Typography
======================= */

#about h2 {
  font-size: 1.1rem;
  text-transform: uppercase;
}

#about small {
  font-size: .75rem;
  color: #ccc;
}

#stats h1 {
  font-size: 1.5rem;
}

#menu p {
  margin: 0;
}

#menu li {
  margin: 10px;
}

.menu-header h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.starter, .mains {
  text-align: center;
}

/* =======================
          Slider
======================= */

#landing-header {
  position: relative;
  text-align: center;
  width: 100%;
  height: 60vh;
  padding-top: 25%;
}

#landing-body {
  position: relative;
  z-index: 1; 
  color: #fff;
}

#landing-body h1,
#landing-body h4 {
  font-size: 1.50rem;
  color: white;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
}

#landing-body h1 {
  letter-spacing: 1.2px;
  padding-bottom: 2px;
  margin: 0;
}

#landing-body h4 {
  letter-spacing: 1.50px;
  padding: 3px;
}

#landing-body .btn {
  font-size: 1rem;
}

.slideshow { 
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 25s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.pexels.com/photos/769289/pexels-photo-769289.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.slideshow li:nth-child(2) { 
  background-image: url(https://images.pexels.com/photos/842545/pexels-photo-842545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  animation-delay: 5s; 
}

.slideshow li:nth-child(3) { 
  background-image: url(https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  animation-delay: 10s; 
}

.slideshow li:nth-child(4) { 
  background-image: url(https://images.pexels.com/photos/568370/pexels-photo-568370.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  animation-delay: 15s; 
}

.slideshow li:nth-child(5) { 
  background-image: url(https://images.pexels.com/photos/890507/pexels-photo-890507.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  animation-delay: 20s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

.shadow {
  text-shadow: 1px 0px 7px #000000;
}

/* =======================
       Media Queries
======================= */

@media (min-width: 767.98px) {

  #landing-header {
    height: 100vh;
    padding-top: 40vh;
  }

  #stats {
    background-attachment: fixed;
  }

  #about {
    padding: 7% 0;
  }

  #video-div {
    margin: 0;
  }

  #stats {
    background-size: cover;
    padding: 7% 0;
  }

  #menu {
    padding: 5% 0;
  }

  #info {
    padding: 3% 0;
  }

  .starter {
    border-right: 1px solid #eee;
  }

  iframe {
    height: 300px;
  }

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

}